.form .btn{
    background-color: rgb(77, 77, 198);
    border-radius: 6px;
    border:none;
    outline:none;
    color:white;
    display: block;
    font-size: 16px;
    padding:10px 0;
    margin-top: 10px;
    width:100%;
    text-transform: uppercase;
    transition: all 1s ease;
}

.form .btn:hover{
    background:linear-gradient(to right);

}
.form-group {
    margin-bottom: 20px;
    position: relative;
}

/*result css*/
.popup {
    display: none;
    position: fixed;
    height:350px;
    width:400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
#close{
    background-color:rgb(77, 77, 198);
    border-radius: 6px;
    border:none;
    outline:none;
    color:white;
    display: block;
    font-size: 16px;
    padding:10px 0;
    margin-top: 10px;
    width:40%;
    margin:auto;
    text-transform: uppercase;
    transition: all 1s ease;
}
#close:hover{
    opacity: 0.8;
}
.popup h2{
    padding-top:20px;
    font-size: 20px;
    text-align: center;
}
.popup h5{
    font-size:12px;
    font-weight: light;
    text-align: center;
    padding-bottom:50px;
}
.popup.active {
    display: block;
}
.res-c{
    text-align:center;
    font-size: 18px;
    padding:10px;
}
/*form-validation css*/
.fa-circle-check,
.fa-circle-exclamation {
    display: none;
    position: absolute;
    right: 12px;
    top: 40px;
    transform: translateY(-50%);
    color: green;
}

.fa-circle-exclamation {
    color: red;
}

.error {
    color: red;
}

.fa-circle-question{
    color:#aa9b9b;
    font-size:12px;
}
/*description css*/
.h-tooltip {
    font-size:12px;
    display: none;
    position: absolute;
    background-color: #706464;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.h:hover + .h-tooltip {
    display: inline-block;
}


